<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.v2.csm.dao.UserDao">

    <select id="selectUserOne" resultType="com.reservation.v2.csm.model.UserModel">
        SELECT *
        FROM RES_USER
        WHERE USER_ID = #{userId} AND PASSWORD = #{password}
        AND DELETE_YN = 'N'
        AND REGISTRATION_YN = 'Y'
    </select>


</mapper>
